html {
    width: 100vw;
    height: 100vh;
    font-family: 'Bitter', serif;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(231,221,238,1) 25%, rgba(219,204,229,1) 50%, rgba(207,187,221,1) 75%, rgba(195,170,212,1) 100%);

}

body {
    margin: 0;
    font-family: 'Bitter', serif;
}


.container {
    display: grid;
    grid-template-rows: 8% 84% 8%;
    width: 100vw;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 20px;
}

form {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: snow;
    padding-bottom: 200px;
    font-family: 'Bitter', serif;

}

form.show {
    display: flex;
}

.footer{
    display: flex;
    justify-content: center;
    margin: 0;

    
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    font-family: 'Bitter', serif;
    font-weight: lighter;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.desc {
    margin-bottom: 20px;
    font-size: 1em;
}

#top {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.nav {
    text-transform: uppercase;
}

li {
    font-size: 1.2em;
    font-weight: lighter;   
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 20px;
}


#addTask {
    border: none; 
    padding: 12px 16px;
    font-size: 16px; 
    cursor: pointer; 
    border-radius: 5px;
    background-color: transparent;

}

.silver {
    font-size: 2em;
    font-weight: bolder;
}

.removeB {
    background-color: transparent;
    border: none;
}

.content {
    padding: 1rem;
}

input, .submitB {
    margin-bottom: 15px;
    width:20%;
    height: 1.5rem;

}