html {
    width: 100vw;
    height: 100vh;
}

body {
    margin: 0;
}


.container {
    display: grid;
    grid-template-rows: 8% 84% 8%;
    width: 100vw;
    height: 100vh;
}

.main {
    display: grid;
    grid-template-columns: 25% 75%;
    padding: 20px;
}

form {
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: snow;
    padding-bottom: 200px;

}

form.show {
    display: flex;
}

.footer{
    display: flex;
    justify-content: center;
    margin: 0;

    
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.desc {
    margin-bottom: 20px;
    font-size: 1em;
}

#top {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

.nav {
    text-transform: uppercase;
}

li {
    cursor: pointer;
    list-style-type: none;
}